.blog {
  position: relative;
  padding-bottom: 700px;
  background-color: $dark-color;

  &__picture {
    position: absolute;
    max-width: 870px;
    left: 20%;
    top: -150px;
    z-index: 1;
  }

  &__background {
    position: absolute;
    left: 50%;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 40px;
    font-weight: $font-extra-light;
    line-height: 60px;
    color: $light-color;
  }

  &__section {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    top: 460px;
    width: 100%;
    padding: 0 45px;
  }

  &__post {
    &:hover {
      @include hover-pictures
    }
  }

  &__image {
    height: 250px;
  }

  &__text {
    max-width: 360px;
    padding-top: 22px;
    font-size: 18px;
    font-weight: $font-regular;
    line-height: 29px;
  }

  @media (max-width: $mobile-screen-breakpoint) {
    @include flex-centered-column;
    padding-bottom: 250px;

    &__picture {
      position: relative;
      top: -80px;
      left: 0;
      height: 160px;
    }

    &__background {
      left: 20%;
      top: -5%;
      width: 300px;
    }

    &__title {
      top: 40%;
    }

    &__section {
      align-items: center;
      grid-template-columns: 1fr;
      top: 300px;
    }

    &__text {
      margin: 0;
      max-width: 330px;
    }

    &__image {
      height: 200px;
    }
  }
}
