.header {
  background-color: $maincolor;

  &__preheader {
    background-color: $dark-color;
    @include flex-centered;
    margin: 0;
  }

  &__preheader-text {
    padding: 10px;
    font-size: 12px;
    font-weight: $font-light;
    line-height: 18px;
    color: $light-color;
  }

  &__logo {
    padding-top: 30px;
  }

  &__top {
    @include flex-spaced;
    padding: 0 60px;
  }

  &__mobile-icon {
    display: none;
  }

  &__shopping-cart {
    padding: 30px 0;
  }

  &__shopping-cart--group {
    position: relative;

    &:hover {
      @include hover-pictures
    }
  }

  &__shopping-count {
    position: absolute;
    right: 15px;
    top: 25px;
  }

  &__link-shopping {
    padding: 20px;
  }

  &__background {
    height: 700px;
    width: 926px;
    background-image: url("../images/AK8I5057-editrrr1.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__image-group {
    @include flex-spaced;
  }

  &__description {
    @include flex-centered-column;
    padding-right: 50px;
    padding-top: 150px;
  }

  &__title {
    max-width: 600px;
    text-align: center;
    color: $dark-color;
    font-size: 36px;
    font-weight: $font-light;
    line-height: 50px;
  }

  &__paragraph {
    max-width: auto;
    padding-bottom: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: $font-regular;
    line-height: 30px;
  }

  &__button {
    padding: 23px 120px;
    background-color: $dark-color;
    border-style: none;
    font-size: 16px;
    font-weight: $font-light;
    line-height: 24px;

    &:hover {
      @include hover-button;
    }
  }

  @media (max-width: $mobile-screen-breakpoint) {
    overflow: hidden;

    &__image-group {
      flex-direction: column;
      position: relative;
      height: 570px;
    }

    &__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -100px;

      background-image: linear-gradient(
        2.76deg,
        #FDFAF8 30%,
        rgba(255, 255, 255, 0) 80.51%
        );
    }

    &__background {
      position: relative;
      width: auto;
      height: 500px;
      background-image: url('../images/AK8I5057-editrrr1.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__mobile-icon {
      display: block;
      height: 25px;
    }

    &__top {
      justify-content: flex-end;
      padding: 0 20px;
    }

    &__shopping-cart {
      @include flex-spaced;
      padding: 30px 0 0 20px;
    }

    &__shopping-count {
      right: 5px;
    }

    &__link-shopping {
      padding: 0 10px;
    }

    &__description {
      position: absolute;
      padding: 0;
      top: 250px;
    }

    &__menu {
      display: none;
    }

    &__button {
      margin-bottom: 60px;
      font-size: 14px;
      font-weight: $font-regular;
      line-height: 21px;
    }

    &__title {
      width: 311px;
      font-size: 28px;
      font-weight: 300;
      line-height: 39px;
    }

    &__paragraph {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
