.info {
  position: relative;
  background-color: $dark-color;

  &__text {
    padding: 100px 100px 130px 170px;
  }

  &__logo {
    height: 30px;
  }

  &__paragraph {
    color: $light-color;
    font-size: 22px;
    font-weight: $font-light;
    line-height: 37px;
    max-width: 430px;
  }

  &__photo {
    position: absolute;
    height: 570px;
    left: 55%;
    top: -85px;
    z-index: 3;
  }

  @media screen and (max-width: $mobile-screen-breakpoint) {
    @include flex-centered-column;

    &__photo {
      position: relative;
      height: 500px;
      left: 0;
      top: -80px;
      width: 330px;
      margin-top: 50px;
      object-fit: cover;
    }

    &__text {
      padding: 0px 20px 60px;
      text-align: center;
    }
  }
}
