.insta {
  &__title {
    font-size: 40px;
    font-weight: $font-extra-light;
    letter-spacing: -0.03em;
    line-height: 34px;
    margin: 113px 0 65px;
    text-align: center;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  &__gallery {
    display: flex;
    gap: 7px;
    justify-content: center;
  }

  &__image {
    max-width: 200px;
  }

  &__text {
    font-size: 14px;
    font-weight: $font-light;
    line-height: 125.5%;
    margin: 75px 0 55px;
    text-align: center;
  }

  &__slider {
    background-color: $light-color;
    border-style: none;
  }

  &__slider-right {
    transform: scale(-1, 1);
  }
}
