.insta {
  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: $font-extra-light;
    letter-spacing: -0.03em;
    line-height: 34px;
    margin: 113px 0 65px;
    text-transform: uppercase;
  }

  &__wrapper {
    @include flex-centered-column;
  }

  &__gallery {
    @include flex-centered;
    gap: 7px;
  }

  &__image {
    max-width: 200px;
  }

  &__link {
    color: $dark-color;
    text-decoration: none;
  }

  &__text {
    margin: 75px 0 55px;
    text-align: center;
    font-size: 14px;
    font-weight: $font-light;
    line-height: 125.5%;
  }

  @media (max-width: $mobile-screen-breakpoint) {
    text-align: center;
    
    &__gallery {
      flex-direction: column;
    }

    &__text {
      margin: 75px 20px 55px; 
    }
  }
}
