.burger-menu_button {
  position: fixed;
  top: 55px;
  left: 30px;
  z-index: 30;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: none;
}

.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: $dark-color;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before {
    content: '';
    top: -12px;
  }

  &::after {
    content: '';
    top: 12px;
  }
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: $maincolor;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
  left: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_link {
  padding: 18px 35px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: $font-regular;
  color: $dark-color;
  border-bottom: 1px solid #fff;
}

.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}

.burger-menu_link:hover {
  filter: brightness(0.9);
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: $mobile-screen-breakpoint) {
.burger-menu_button {
  display: block;
  }
}