.product {
  @include flex-spaced;
  position: relative;
  z-index: 0;

  &__image-wrapper {
    position: relative;
  }

  &__background {
    position: absolute;
    max-width: 580px;
    height: 650px;
    left: 0;
    z-index: 1;
  }

  &__photo {
    position: relative;
    height: 550px;
    top: 80px;
    z-index: 2;

    &:hover {
      @include hover-pictures
    }
  }

  &__info {
    color: $dark-color;
    padding: 150px 180px 80px 0;
    width: 600px;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    font-weight: $font-extra-light;
    line-height: 52px;
  }

  &__rating {
    @include flex-centered-aligned;
    padding: 40px 0 20px;
    font-size: 18px;
    font-weight: $font-light;
    line-height: 23px;
  }

  &__rating-stars {
    display: flex;
    padding-left: 10px;
  }

  &__star {
    background: url('../images/Star5.png') no-repeat center;
    height: 17px;
    margin-right: 4px;
    width: 17px;
  }

  .product__rating-stars .product__star--active:nth-of-type(-n+1),
  .product__rating-stars .product__star--active:nth-of-type(-n+2),
  .product__rating-stars .product__star--active:nth-of-type(-n+3),
  .product__rating-stars .product__star--active:nth-of-type(-n+4),
  .product__rating-stars .product__star--active:nth-of-type(-n+5) {
    background: url('../images/Star1.png') no-repeat center;
  }

  &__description {
    max-width: 430px;
    text-align: center;
    font-size: 18px;
    font-weight: $font-light;
    line-height: 31px;
  }

  &__price {
    @include flex-centered-aligned;
    padding-bottom: 20px;
    
    &:hover {
      @include hover-pictures
    }
  }

  &__price-full {
    position: relative;
    padding: 15px;
    font-size: 20px;
    font-weight: $font-extra-light;
    line-height: 150%;
    opacity: 0.5;
  }

  &__price-full::after {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 90px;
    background-color: $dark-color;
    border-bottom: 1px solid #000;
    content: '';
    opacity: 1;
  }

  &__price-discount {
    font-size: 30px;
    font-weight: $font-extra-light;
    line-height: 150%;
  }

  &__button {
    padding: 23px 118px;
    background-color: $dark-color;
    border-style: none;

    &:hover {
      @include hover-button
    }
  }

  @media (max-width: $mobile-screen-breakpoint) {
    @include flex-column-reversed;

    &__photo,
    &__background {
      height: 320px;
    }

    &__photo {
      top: 0;
    }

    &__background {
      max-width: 300px;
    }

    &__title {
      padding: 0 20px;
    }

    &__info {
      color: $dark-color;
      padding: 70px 10px 0;
      text-align: center;
      width: auto;
    }
  }
}
