.product {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;

  &__image-wrapper {
    position: relative;
  }

  &__background {
    height: 650px;
    left: 0;
    max-width: 580px;
    position: absolute;
    z-index: 1;
  }

  &__photo {
    height: 550px;
    position: relative;
    top: 80px;
    z-index: 2;
  }

  &__info {
    color: $dark-color;
    padding: 150px 180px 80px 0;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    font-weight: $font-extra-light;
    line-height: 52px;
    width: 440px;
  }

  &__rating {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: $font-light;
    justify-content: center;
    line-height: 23px;
    padding: 40px 0 20px;
  }

  &__rating-stars {
    display: flex;
    padding-left: 10px;
  }

  &__star {
    background: url('../images/Star5.png') no-repeat center;
    height: 17px;
    margin-right: 4px;
    width: 17px;
  }

  .product__rating-stars .product__star--active:nth-of-type(-n+1),
  .product__rating-stars .product__star--active:nth-of-type(-n+2),
  .product__rating-stars .product__star--active:nth-of-type(-n+3),
  .product__rating-stars .product__star--active:nth-of-type(-n+4),
  .product__rating-stars .product__star--active:nth-of-type(-n+5) {
    background: url('../images/Star1.png') no-repeat center;
  }

  &__description {
    font-size: 18px;
    font-weight: $font-light;
    line-height: 31px;
    max-width: 430px;
    text-align: center;
  }

  &__price {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__price-full {
    font-size: 20px;
    font-weight: $font-extra-light;
    line-height: 150%;
    opacity: 0.5;
    padding: 15px;
    position: relative;
  }

  &__price-full::after {
    background-color: $dark-color;
    border-bottom: 1px solid #000;
    content: '';
    display: block;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 50%;
    width: 90px;
  }


  &__price-discount {
    font-size: 30px;
    font-weight: $font-extra-light;
    line-height: 150%;
  }

  &__button {
    background-color: $dark-color;
    border-style: none;
    padding: 23px 118px;
  }

  @media (max-width: $mobile-screen-breakpoint) {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;

    &__photo,
    &__background {
      height: 320px;
    }

    &__photo {
      top: 0;
    }

    &__background {
      max-width: 300px;
    }

    &__title {
      width: 350px;
    }

    &__info {
      color: $dark-color;
      padding: 80px 10px 0;
      text-align: center;
    }
  }
}
