.subscribe {
  background: linear-gradient(50deg, #fadacf 17.68%, rgba(255, 255, 255, 0) 80.51%);
  @include flex-spaced;
  mix-blend-mode: multiply;
  position: relative;

  &__wrapper {
    @include flex-centered-column;
    mix-blend-mode: multiply;
    padding-left: 130px;
  }

  &__title {
    font-size: 40px;
    font-weight: $font-extra-light;
    line-height: 60px;
    padding-bottom: 30px;
  }

  &__text {
    padding-bottom: 30px;
    max-width: 700px;
    text-align: center;
    font-size: 22px;
    font-weight: $font-light;
    line-height: 37px;
  }

  &__email {
    height: 70px;
    padding: 23px;
    width: 315px;
    border: 1px solid $dark-color;
  }

  &__button {
    font-size: 16px;
    font-weight: $font-regular;
    height: 71px;
    line-height: 24px;
    margin-left: -5px;
    width: 203px;
    color: $light-color;
    border-style: none;
    background-color: $dark-color;
  }

  @media (max-width: $mobile-screen-breakpoint) {
    flex-direction: column;
    align-items: center;
    padding-top: 900px;
    
    &__title {
      font-size: 30px;
      line-height: 45px;
      text-align: center;
    }

    &__text {
      font-size: 16px;
      line-height: 27px;
      max-width: 335px;
    }

    &__email,
    &__button {
      height: 54px;
      margin-bottom: 10px;
      width: 335px;
    }

    &__button {
      margin-left: 0;
    }
    
    &__wrapper {
      padding: 50px 20px 0;
    }

    &__photo {
      width: 100%;
    }

    &__group {
      text-align: center;
    }
  }
}
