@import "./utils/vars";
@import "./utils/reset";
@import "utils";
@import "./blocks/header";
@import "./blocks/navigation.scss";
@import "./blocks/info.scss";
@import "./blocks/links.scss";
@import "./blocks/product.scss";
@import "./blocks/menu.scss";
@import "./blocks/try.scss";
@import "./blocks/usage.scss";
@import "./blocks/testimonials.scss";
@import "./blocks/blog.scss";
@import "./blocks/brands.scss";
@import "./blocks/subscribe";
@import "./blocks/instagram";
@import "./blocks/footer";
@import "./blocks/swiper";
