$maincolor: #fef7f4;
$dark-color: #000;
$accent-color: #8a5137;
$light-color: #fff;
// $background-color: #fcd1c2;

$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-middle: 500;


$mobile-screen-breakpoint: 500px;
